In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
path = "accepts_xls_.xlsx"

In [4]:
excel = pd.read_excel(path, sheet_name=0)
excel

,TITLE,CHILDREN,PERS_H,AGE,TMADD,TMJOB1,TEL,NMBLOAN,FINLOAN,INCOME,...,LOANS,REGN,CASH,PRODUCT,RESID,NAT,PROF,CAR,CARDS,GB
0,H,0,2,24,30,27,1,0,0,1900,...,0,0,2500,"Furniture,Carpet",Owner,German,Others,Car,no credit cards,0
1,H,0,2,37,3,72,2,0,0,0,...,0,0,700,"Dept. Store,Mail",Lease,German,Others,Car,Cheque card,0
2,H,0,2,23,6,30,1,0,1,2300,...,5,0,7000,"Furniture,Carpet",Lease,German,Others,Car,no credit cards,0
3,R,2,4,39,9,30,2,2,1,2200,...,2,0,4000,"Furniture,Carpet",Lease,German,"Civil Service, M",Car,no credit cards,1
4,R,3,5,28,0,168,1,0,0,1700,...,1,0,4000,"Furniture,Carpet",Lease,German,"Civil Service, M",Without Vehicle,no credit cards,1
5,H,0,2,22,3,84,2,0,1,2500,...,1,8,1100,Cars,Lease,German,Others,Car,no credit cards,1
6,R,0,2,31,36,144,2,0,1,2000,...,1,2,2000,"Furniture,Carpet",Lease,German,Others,Without Vehicle,no credit cards,1
7,R,0,2,28,36,33,2,0,0,3500,...,4,7,15000,"Furniture,Carpet",Owner,German,Others,Car,no credit cards,1
8,H,0,2,23,168,84,2,0,0,2400,...,1,7,1300,Leisure,Lease,German,Others,Car,no credit cards,0
9,R,0,2,23,9,9,2,0,0,1900,...,0,4,8000,Cars,Lease,Turkish,Others,Car,no credit cards,1
10,H,1,3,41,18,216,2,0,1,2200,...,1,2,10000,Cars,Owner,German,Others,Car and Motor bi,no credit cards,0
11,H,1,3,53,120,84,2,0,0,5000,...,1,6,20000,"Furniture,Carpet",Owner,German,Others,Car,no credit cards,0
12,R,0,2,29,9,54,2,2,1,1800,...,2,2,500,"Furniture,Carpet",Lease,German,Others,Without Vehicle,no credit cards,1
13,H,1,3,29,18,18,2,2,0,1700,...,2,2,15000,Cars,Lease,German,"Food,Building,Ca",Car and Motor bi,no credit cards,0
14,H,0,2,25,12,27,2,2,1,5000,...,1,2,900,"Radio, TV, Hifi",Lease,German,Others,Car,no credit cards,1
15,H,1,2,44,108,42,2,0,1,0,...,2,0,800,"Radio, TV, Hifi",Lease,German,"Civil Service, M",Car,Cheque card,0
16,R,0,1,54,9,108,2,0,0,1700,...,0,0,800,"Dept. Store,Mail",NaN,German,"Civil Service, M",Without Vehicle,no credit cards,0
17,R,0,1,46,144,30,1,0,0,1500,...,0,0,900,"Radio, TV, Hifi",Lease,German,Others,Without Vehicle,no credit cards,1
18,H,4,5,35,60,12,1,0,0,0,...,2,0,1000,"Dept. Store,Mail",Lease,German,Others,Car,Cheque card,0
19,H,2,3,38,168,27,1,0,0,3400,...,2,0,700,"Radio, TV, Hifi",Lease,German,Others,Car,no credit cards,1
20,H,2,3,36,21,216,2,0,1,0,...,0,0,600,"Radio, TV, Hifi",Lease,German,"Civil Service, M",Car,Cheque card,0
21,H,1,2,43,42,144,1,0,0,2500,...,0,0,1300,Leisure,Lease,German,Others,Without Vehicle,no credit cards,1
22,R,2,3,29,30,144,1,0,0,2400,...,2,0,4000,"Furniture,Carpet",Lease,German,"Civil Service, M",Car,no credit cards,1
23,R,1,2,40,240,60,1,0,0,0,...,1,0,2500,"Furniture,Carpet",Lease,German,"Civil Service, M",Car,Cheque card,0
24,R,0,1,46,60,336,1,0,0,2300,...,0,0,5000,"Furniture,Carpet",Lease,German,Others,Car,Cheque card,0
25,R,0,1,70,288,144,1,0,0,1000,...,0,2,700,"Radio, TV, Hifi",Lease,German,Pensioner,Without Vehicle,no credit cards,0
26,R,2,3,37,96,168,1,0,0,1500,...,0,0,4000,"Furniture,Carpet",Lease,German,Others,Car,no credit cards,1
27,R,0,1,57,168,48,2,2,1,0,...,1,0,600,"Radio, TV, Hifi",Lease,German,Pensioner,Without Vehicle,Mastercard/Euroc,0
28,R,3,4,39,120,33,1,2,0,2000,...,0,0,1800,"Furniture,Carpet",Lease,German,Others,Car,no credit cards,0
29,H,2,3,35,36,45,2,0,1,4000,...,1,0,2500,"Furniture,Carpet",Lease,German,Others,Car,no credit cards,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,R,2,3,43,264,66,2,0,0,3500,...,1,5,1000,"Radio, TV, Hifi",NaN,German,Others,Car,no credit cards,0
2971,R,0,1,59,999,999,2,0,0,1900,...,0,0,1300,"Radio, TV, Hifi",NaN,German,Pensioner,Without Vehicle,no credit cards,0
2972,H,0,1,67,42,108,2,0,0,2000,...,0,3,15000,"Furniture,Carpet",Lease,German,Pensioner,Without Vehicle,no credit cards,1
2973,R,0,1,57,288,192,2,0,0,2300,...,0,3,15000,Cars,Lease,German,Others,Car,no credit cards,1
2974,R,1,2,43,60,45,2,0,1,1900,...,3,9,900,"Radio, TV, Hifi",Lease,German,"Sea Vojage, Gast",Car,no credit cards,0
2975,R,2,3,58,999,21,2,0,1,2700,...,0,7,1500,Cars,Lease,German,Others,Car,no credit cards,1
2976,R,0,1,51,18,192,2,0,0,4000,...,3,2,10000,"Radio, TV, Hifi",Lease,German,Others,Car,no credit cards,0
2977,R,0,1,63,21,21,2,0,1,3000,...,1,2,3000,"Dept. Store,Mail",Lease,German,Pensioner,Without Vehicle,no credit cards,0
2978,R,2,3,44,54,12,2,0,0,2300,...,1,4,500,"Dept. Store,Mail",Lease,German,Pensioner,Without Vehicle,no credit cards,1
2979,R,0,1,45,24,72,2,0,1,0,...,1,3,900,"Radio, TV, Hifi",Lease,German,Others,Car,Cheque card,0
2980,H,1,2,32,36,15,1,0,0,2300,...,0,5,100000,Cars,Lease,German,Others,Car,no credit cards,1
2981,H,1,2,38,3,24,2,0,1,0,...,0,7,2500,"Radio, TV, Hifi",Lease,Others,Others,Car,Cheque card,0
2982,R,2,3,30,108,15,2,0,0,1800,...,1,4,500,"Radio, TV, Hifi",Lease,German,Pensioner,Car,no credit cards,1
2983,R,0,1,56,240,168,2,0,1,2100,...,1,4,2000,"Radio, TV, Hifi",Lease,German,Pensioner,Without Vehicle,no credit cards,0
2984,R,0,1,56,54,18,2,0,0,1600,...,0,5,4000,"Furniture,Carpet",Lease,German,Others,Car,no credit cards,0
2985,R,3,4,41,15,15,2,0,0,0,...,1,6,1100,"Radio, TV, Hifi",Lease,German,Others,Car,Cheque card,0
2986,R,0,1,61,21,45,2,0,0,1600,...,0,3,2000,"Furniture,Carpet",Lease,German,Pensioner,Without Vehicle,no credit cards,0
2987,R,1,2,36,12,0,2,0,0,1900,...,1,2,1200,"Furniture,Carpet",NaN,German,Pensioner,Car,no credit cards,1
2988,R,2,3,36,216,24,2,0,0,0,...,0,2,1200,"Furniture,Carpet",NaN,German,Others,Car,Cheque card,0
2989,R,0,1,62,120,144,2,0,0,1000,...,0,4,700,"Dept. Store,Mail",Lease,German,Pensioner,Without Vehicle,no credit cards,0
2990,R,1,2,41,84,66,2,0,0,2400,...,0,6,4000,"Furniture,Carpet",Lease,German,Others,Car,no credit cards,0
2991,R,0,1,62,108,60,2,0,0,1800,...,0,5,1600,"Furniture,Carpet",NaN,German,Pensioner,Without Vehicle,no credit cards,0
2992,R,0,1,55,216,24,2,0,0,1600,...,0,4,1300,"Radio, TV, Hifi",NaN,German,Pensioner,Without Vehicle,no credit cards,1
2993,R,0,1,52,6,84,1,0,0,1500,...,0,5,700,Leisure,Lease,German,Pensioner,Without Vehicle,no credit cards,1
2994,R,0,1,54,60,33,2,0,0,2100,...,0,3,700,"Dept. Store,Mail",Lease,German,Others,Car,no credit cards,0
2995,H,0,1,58,999,96,2,2,1,2400,...,3,4,1800,"Radio, TV, Hifi",Lease,German,Others,Car,no credit cards,0
2996,R,1,2,55,60,999,2,2,0,2900,...,1,2,900,"Furniture,Carpet",Owner,German,Others,Car,no credit cards,0
2997,H,0,1,54,192,288,2,2,1,2200,...,1,5,1200,"Furniture,Carpet",Lease,German,Others,Without Vehicle,no credit cards,0
2998,H,2,3,37,84,54,1,1,1,2500,...,2,3,1300,"Radio, TV, Hifi",NaN,German,Others,Car,no credit cards,0
2999,R,0,1,67,168,24,2,2,1,2800,...,1,4,3000,"Furniture,Carpet",Lease,German,Pensioner,Without Vehicle,no credit cards,0

Statistics

In [5]:
excel.describe()

,CHILDREN,PERS_H,AGE,TMADD,TMJOB1,TEL,NMBLOAN,FINLOAN,INCOME,EC_CARD,INC,INC1,BUREAU,LOANS,REGN,CASH,GB
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,0.819667,2.358667,34.047667,119.282000,79.431000,1.81500,0.580667,0.477000,1996.800000,0.258333,31095.833333,2.385667,1.683333,1.008000,3.293667,2497.133333,0.500000
std,1.122007,1.416814,10.951501,180.089142,124.272858,0.38922,0.887932,0.499554,2318.521427,0.437791,45055.137196,1.211370,0.946584,1.112512,2.551914,6360.283237,0.500083
min,0.000000,1.000000,18.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,25.750000,21.000000,18.000000,2.00000,0.000000,0.000000,1000.000000,0.000000,2500.000000,2.000000,1.000000,0.000000,0.000000,900.000000,0.000000
50%,0.000000,2.000000,31.000000,60.000000,39.000000,2.00000,0.000000,0.000000,2100.000000,0.000000,2500.000000,2.000000,1.000000,1.000000,4.000000,1400.000000,0.500000
75%,1.000000,3.000000,40.000000,168.000000,96.000000,2.00000,2.000000,1.000000,2700.000000,1.000000,100000.000000,4.000000,3.000000,2.000000,5.000000,2500.000000,1.000000
max,23.000000,25.000000,71.000000,999.000000,999.000000,2.00000,2.000000,1.000000,100000.000000,1.000000,100000.000000,5.000000,3.000000,9.000000,9.000000,100000.000000,1.000000

In [35]:
loan_stat = excel['GB'].value_counts()
loan_stat

1    1500
0    1500
Name: GB, dtype: int64

In [36]:
children_statistics = excel.groupby('CHILDREN').size()
children_statistics

CHILDREN
0     1585
1      676
2      532
3      149
4       41
5       13
6        2
8        1
23       1
dtype: int64

In [37]:
tmadd_statistics = excel.groupby('TMADD').size()
tmadd_statistics

TMADD
0       39
3      168
6      123
9      128
12      91
15      88
18      85
21      79
24      72
30     139
36     139
42     111
48     104
54     107
60      78
66      71
72      66
84     112
96     110
108     79
120    113
144    144
168    149
192    116
216     61
240     91
264     93
288     67
312     44
336     25
360     15
999     93
dtype: int64

In [38]:
tmjob1_statistics = excel.groupby('TMJOB1').size()
tmjob1_statistics

TMJOB1
0        6
3       72
6      155
9      182
12     144
15     139
18     107
21     114
24     105
27     102
30     113
33      95
36     116
39      98
42      65
45      77
48      94
54     115
60      94
66      76
72      67
84     101
96      85
108     75
120     77
144     85
168     86
192     82
216     52
240     49
288     95
336     43
999     34
dtype: int64

Checking groups

In [40]:
prod_gr = excel['PRODUCT'].isnull().value_counts()
prod_gr

False    2988
True       12
Name: PRODUCT, dtype: int64

In [41]:
resid_gr = excel['RESID'].isnull().value_counts()
resid_gr

False    2465
True      535
Name: RESID, dtype: int64

In [42]:
nat_gr = excel['NAT'].isnull().value_counts()
nat_gr

False    3000
Name: NAT, dtype: int64

In [43]:
prof_gr = excel['PROF'].isnull().value_counts()
prof_gr

False    2999
True        1
Name: PROF, dtype: int64

In [44]:
car_gr = excel['CAR'].isnull().value_counts()
car_gr

False    3000
Name: CAR, dtype: int64

In [45]:
card_gr = excel['CARDS'].isnull().value_counts()
card_gr

False    3000
Name: CARDS, dtype: int64

In [8]:
drop_list = []
for i, row in excel.iterrows():
    if excel['CHILDREN'][i] > 10:
        drop_list.append(i)
    if (excel['TMADD'][i] / 12) > excel['AGE'][i]:
        drop_list.append(i)
    if (excel['TMJOB1'][i] / 12 - 11) > (excel['AGE'][i] - 18):
        drop_list.append(i)
    if excel['AGE'][i] > 75:
        drop_list.append(i)

In [9]:
drop_list = np.unique(np.array(drop_list))
print(type(drop_list))
drop_list

<class 'numpy.ndarray'>

array([  31,   33,   35,   43,   55,   57,   59,   70,   82,  158,  199,
        201,  214,  217,  219,  257,  258,  259,  278,  291,  295,  296,
        301,  315,  331,  332,  349,  359,  360,  362,  369,  374,  382,
        384,  390,  405,  411,  423,  433,  436,  438,  458,  460,  462,
        463,  488,  505,  512,  519,  541,  554,  555,  565,  567,  573,
        578,  579,  583,  587,  613,  617,  624,  668,  684,  694,  696,
        716,  717,  733,  795,  803,  806,  810,  820,  846,  879,  912,
        915,  919,  924,  944,  953,  956,  989,  990,  991, 1012, 1014,
       1023, 1036, 1042, 1071, 1080, 1088, 1093, 1102, 1104, 1109, 1115,
       1144, 1154, 1160, 1175, 1210, 1238, 1241, 1291, 1311, 1322, 1324,
       1327, 1339, 1351, 1355, 1357, 1384, 1392, 1437, 1445, 1462, 1472,
       1476, 1478, 1485, 1486, 1495, 1500, 1507, 1511, 1526, 1564, 1570,
       1587, 1623, 1629, 1635, 1649, 1653, 1668, 1677, 1681, 1690, 1697,
       1699, 1712, 1734, 1797, 1829, 1840, 1865, 1869, 1947, 1950, 1953,
       1959, 1988, 2030, 2043, 2055, 2090, 2108, 2111, 2128, 2136, 2189,
       2200, 2207, 2217, 2227, 2248, 2259, 2324, 2346, 2360, 2415, 2425,
       2503, 2519, 2534, 2550, 2593, 2644, 2656, 2658, 2666, 2741, 2803,
       2813, 2843, 2853, 2893, 2897, 2938, 2947, 2948, 2949, 2953, 2964,
       2965, 2971, 2975, 2995, 2996], dtype=int64)