In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sys
import os

In [2]:
%matplotlib inline

In [3]:
path = "accepts_xls_.xlsx"

In [4]:
excel = pd.read_excel(path, sheet_name=0)

Statistics

In [5]:
loan_stat = excel['GB'].value_counts()
loan_stat

1    1500
0    1500
Name: GB, dtype: int64

In [6]:
children_statistics = excel.groupby('CHILDREN').size()
children_statistics

CHILDREN
0     1585
1      676
2      532
3      149
4       41
5       13
6        2
8        1
23       1
dtype: int64

In [7]:
tmadd_statistics = excel.groupby('TMADD').size()
tmadd_statistics

TMADD
0       39
3      168
6      123
9      128
12      91
15      88
18      85
21      79
24      72
30     139
36     139
42     111
48     104
54     107
60      78
66      71
72      66
84     112
96     110
108     79
120    113
144    144
168    149
192    116
216     61
240     91
264     93
288     67
312     44
336     25
360     15
999     93
dtype: int64

In [8]:
tmjob1_statistics = excel.groupby('TMJOB1').size()
tmjob1_statistics

TMJOB1
0        6
3       72
6      155
9      182
12     144
15     139
18     107
21     114
24     105
27     102
30     113
33      95
36     116
39      98
42      65
45      77
48      94
54     115
60      94
66      76
72      67
84     101
96      85
108     75
120     77
144     85
168     86
192     82
216     52
240     49
288     95
336     43
999     34
dtype: int64

In [10]:
child_mean = excel['CHILDREN'].mean()
print("CHILDREN mean: " + str(child_mean))
tmjob1_mean = excel['TMJOB1'].mean()
print("TMJOB1 mean: " + str(tmjob1_mean))
tmadd_mean = excel['TMADD'].mean()
print("TMADD mean: " + str(tmadd_mean))

CHILDREN mean: 0.8196666666666667
TMJOB1 mean: 79.431
TMADD mean: 119.282